/*
  LAYOUT
*/

.notingham-root {
  width: 100vw;
  height: 100vh;
}

.simple-editor-grid {
  display: grid;
  grid-template-columns: 20% 1fr;
}

.simple-editor-grid.leftbar-hidden {
  grid-template-columns: 0% 1fr;
}

.simple-editor-grid.leftbar-large {
  grid-template-columns: 35% 1fr;
}

.simple-editor-grid--leftbar {
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  overflow: auto
}

.command-palette {
  position: fixed;
  /* top: 50%; */
  top: 0px;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, 0%);
  width: 700px;
  background: white;
}
.command-palette .command-input {
  font-size: 1.5em;
  width: 100%;
}
.command-palette .select-highlight {
  color: white;
  background-color: #66B;
}