.darkmode {
  background-color: black;
  color: white;
}

.notingham-root {
  width: 100vw;
  height: 100vh;
}

.simple-editor-grid {
  display: grid;
  grid-template-columns: 20% 1fr;
}

.simple-editor-grid.leftbar-hidden {
  grid-template-columns: 0% 1fr;
}

.simple-editor-grid.leftbar-large {
  grid-template-columns: 35% 1fr;
}

.simple-editor-grid--leftbar {
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  overflow: auto
}
